@model IEnumerable<Event.Models.PlanEvent>
@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>
      
 @foreach (var item in Model)
 {
            
        <div class="row">
           <h3>@Html.DisplayFor(modelItem => item.Title)</h3> 
        </div>
            @Html.DisplayFor(modelItem => item.StartDateTime)
        <div class="row">
            @Html.DisplayFor(modelItem => item.Description)
        </div>
            @Html.DisplayFor(modelItem => item.Location)
    <div class="row">

        <div class="form-group">
            
        </div>
       @Html.ActionLink("Next", "Create")
    </div>


 }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


